.image{
    width: 1220px;
    height: 500px;
    border-radius: 10px;
}
img{
    width: 100%;
}
.image1{
    height: 500px;
    
    border-radius: 10px;
}
.image2{
    bottom: 530px;
    z-index: 9999;
    
    border-radius: 10px;
}
.image3{
    z-index: 98;
    bottom: 1000px;
    border-radius: 10px;
}