.image{
    width: 1220px;
    height: 500px;
    padding-top: 20px;
    border-radius: 10px;
}
// img{
//     width: 100%;
//     // height: 100%;
// }
.image1{
    width: 100%;
    height: 500px;
}
.image2{
    height: 500px;
    width: 100%;
    bottom: 520px;
    z-index: 9999;
}
.image3{
    z-index: 98;
    bottom: 1000px;
}
.dots{
    width: 1220px;
    bottom: 60px;
    z-index: 10000;
    .radius-dot{
        width: 15px;
        height: 15px;
        background: rgb(126, 126, 126);
        border-radius: 50%;
        margin: 5px;
        cursor: pointer;
    }
    .radius-dots{
        background: rgb(245,245,245);
    }
}
