
.H_item {
  width: 610px;
  height: 430px;
  background: white;
}
.H_item_left{
  border-bottom-left-radius: 6px;
}

img {
  height: 206px;
}

.subTitle {
  color: #d0d0d0;
}

.salePrice {
  line-height: 30px;
  color: #d44d44;
}