.detail_top{
    padding: 20px;
    background: white;
    border-radius: 6px;
    border: 1px solid #dcdcdc;
}
.detail_img{
    width: 80px;
    height: 80px;
    padding: 12px;
    border: 1px solid rgba(0,0,0,.06);
    border-radius: 5px;
    .detail_image{
        width: 100%;
    }
}