.top {
    height: 100px;
    background: rgb(5, 5, 5);

    .T_content {
        width: 1200px;
        display: flex;
        align-items: center;
        justify-content: space-between;

        .logo {
            width: 50px;
        }
    }
}

.bottom {
    height: 90px;
    background: rgb(247, 247, 247);
}