.top {
    height: 100px;
    background: rgb(5, 5, 5);

    .T_content {
        width: 1200px;

        .logo {
            width: 50px;
            margin-top: 10px;
        }

        .T_right{
            .p-lr-25{
                padding: 0 25px;
            }
            .m-lr-25{
                margin: 0 25px;
            }
            .T_font-one{
                color: #c8c8c8;
            }
            .T_line{
                width: 1px;
                height: 12px;
                background: rgba(102, 102, 102, 0.7);
            }
            .icon-gouwuche{
                font-size: 20px;
            }
            .ivu-badge-count{
                right: -20px;
            }
        }
    }
}

.bottom {
    height: 90px;
    background: rgb(247, 247, 247);
}