.top{
    height: 100px;
    background: rgb(5,5,5);
    .T_content{
        width: 120px;
        .logo{
            width: 50px;
        }
        .ivu-input{
            h36px
        }
    }
}
.bottom{
    height: 90px;
    background: rgb(247,247,247);
}