.background{
    background: url("../../assets/bg_9b9dcb65ff.jpg");
    position: fixed;
    height: 100%;
    width: 100%;
    position: relative;
}
.registered{
    width: 450px;
    height: 570px;
    background: white;
    border: 1px solid #dadada;
    border-radius: 10px;
    margin: auto;
    position: absolute;
    top: 50%;
}